
//* Kanagawa-based rofi theme */

configuration {
    show-icons:      true;
    display-drun:    "";
    disable-history: false;
}

* {
    font: "FiraCode Nerd Font 12";

    /* Base colors */
    foreground: #c5c9c7;          /* palette 15 */
    background-color: #11171D;

    /* Accent colors */
    active-background: #5f7f8a;   /* palette 12 */
    urgent-background: #e46876;   /* palette 9 */

    urgent-foreground: #090E13;

    selected-background: @active-background;
    selected-urgent-background: @urgent-background;
    selected-active-background: @active-background;

    separatorcolor: #5C6066;      /* palette 8 */
    bordercolor:#4c6a75;

  }
#window {
    background-color: @background-color;
    border:           3;
    line:             5;
    width: 35%;
    border-radius:    6;
    border-color:     @bordercolor;
    padding:          15;
}

#mainbox {
    border:  0;
    padding: 0;
}

#message {
    border:       0px;
    border-color: @separatorcolor;
    padding:      1px;
}

#textbox {
    text-color: @foreground;
}

#listview {
    lines:        5;
    fixed-height: true;
    border:       0px;
    border-color: @bordercolor;
    spacing:      2px;
    scrollbar:    false;
    padding:      2px 0px 0px;
}

#element {
    border:  0;
    padding: 3px;
}

#element.normal.normal {
    background-color: @background-color;
    text-color:       @foreground;
}

#element.normal.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}

#element.normal.active {
    background-color: @active-background;
    text-color:       @foreground;
}


#element.selected.normal {
    background-color: @selected-background;
    text-color:       #090E13;  /* dark text */
}

#element.selected.urgent {
    background-color: @selected-urgent-background;
    text-color:       @foreground;
}

#element.selected.active {
    background-color: @selected-active-background;
    text-color:       @foreground;
}

#element.alternate.normal {
    background-color: @background-color;
    text-color:       @foreground;
}

#element.alternate.urgent {
    background-color: @urgent-background;
    text-color:       @foreground;
}

#element.alternate.active {
    background-color: @active-background;
    text-color:       @foreground;
}

#scrollbar {
    width:        2px;
    border:       0;
    handle-width: 8px;
    padding:      0;
}

#sidebar {
    border:       2px dash 0px 0px;
    border-color: @separatorcolor;
}

#button.selected {
    background-color: @selected-background;
    text-color:       @foreground;
}

#inputbar {
    spacing:    0;
    text-color: @foreground;
    padding:    1px;
    children:   [ prompt,textbox-prompt-colon,entry,case-indicator ];
}

#case-indicator {
    spacing:    0;
    text-color: @foreground;
}

#entry {
    spacing:    0;
    text-color: @foreground;
}

#prompt {
    spacing:    0;
    text-color: @foreground;
}

#textbox-prompt-colon {
    expand:     false;
    str:        ">";
    margin:     0px 0.3em 0em 0em;
    text-color: @foreground;
}

element-text, element-icon {
    background-color: inherit;
    text-color: inherit;
}
